<%= simple_form_for @category do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <nav>
    <%= f.button :submit, 'Criar Categoria' %>
    <%= link_to 'Voltar', contracts_path, class: 'btn btn-default' %>
  </nav>
<% end %>
